@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script src="~/js/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/index.js"></script>
}

<link rel="stylesheet" href="~/css/chat.css" />

<div id="chatDialog" title="Chat with support" class="disconnected">
    <div id="chatWelcomePanel">
        <h3>Have a question?</h3>
        <form id="chatConnectForm">
            <input class="form-control" type="text" placeholder="Ad-Soyad" />
            <input class="form-control" type="text" placeholder="Departman:" />
            <input class="form-control" type="text" placeholder="E-Mail:" /><br />

            <button class="btn btn-success" type="submit">Soru Sor</button>
        </form>
    </div>
    <div id="chatConnectionInfo">
        <strong>Connecting...</strong>
    </div>
    <div id="chatMainPanel">
        <ul id="chatHistory"></ul>
        <div id="bottomPanel">
            <form id="chatForm">
                <input id="messageTextbox" type="text" placeholder="Mesajınızı yazın" />
                <button type="submit">Gönder</button>
            </form>
        </div>
    </div>
</div>

